/* CSS */
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*This Body*/
body{
    padding: 0 20px;
    scroll-behavior: smooth;
    background-color: rgb(144, 226, 247);
}

/*This Tittle*/
.title{
    margin-top: 20px;
    text-align: center;
}
.opener{
    margin: 10px 0px;
    text-align: center;
}

/*This Header*/
.menu1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu1 > a{
    text-decoration: none;
}
.menu2 > a{
    text-decoration: none;
}
/* Header(triangle) */
.dropdown-childtriangle {
    display: none;
    background-color: rgb(103, 103, 243);
    width: 25%;
    border-radius: 4px;
    margin-top: 4px;
    
}
.dropdown-childtriangle a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu1:hover .dropdown-childtriangle {
    display: block;
}
.menu-triangle:hover {
    background-color: rgb(103, 103, 243);
    }
.menu-triangle{
    text-decoration: none;
    background-color: rgb(103, 103, 243);
    color: white;
    padding:15px 0px;
    width: 80%;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
/* Header(parallelogram) */
.dropdown-childparallelogram {
    display: none;
    background-color: hsl(0, 0%, 83%);
    width: 25%;
    border-radius: 4px;
    margin-top: 4px;
}
.dropdown-childparallelogram a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu2:hover .dropdown-childparallelogram {
    display: block;
}
.menu-parallelogram:hover {
    background-color: hsl(0, 0%, 83%);
    }
.menu-parallelogram{
    text-decoration: none;
    background-color: hsl(0, 0%, 83%);
    color: black;
    padding:15px 0px;
    width: 80%;
    text-align: center;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
    border: none;
}
/* This Main Page */
.card{
    border-style: outset;
    border-radius: 4px;
    background-color: ghostwhite;
    width: 1000px;
    margin-top: 60px;
    padding-bottom: 30px;
    padding-top: 20px;
    position: relative;
    left: 156px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 13px 9px -5px rgba(0,0,0,0.29);;
}

.form-triangle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    gap: 10px;
}
.formula{
    padding-top: 10px;
}
.information{
    padding-top: 10px;
}
input{
    padding-top: 4px;
    font-size: 4mm;
    padding-bottom: 4px;
    border-radius: 4px;
    border-style: outset;
}
.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 2px;
}
.sub [type="submit"]{
    cursor: pointer;
}
.sub [type="submit"]:hover{
    background-color: rgb(120, 250, 120);
}
button{
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    border-style: outset;
    font-size: 5mm;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
